<<<<<<< HEAD
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f9;
color:#222;
}



/* HERO */

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),

url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1470&auto=format&fit=crop');

background-size:cover;
background-position:center;

color:white;
}



.navbar{

width:90%;

margin:auto;

padding:25px 0;

display:flex;

justify-content:space-between;

align-items:center;
}



.dark-navbar{
background:#0b3c5d;
padding:20px 5%;
}



.logo{
font-size:2rem;
color:#ffd166;
}



.menu{
display:flex;
gap:25px;
list-style:none;
}



.menu a{
text-decoration:none;
color:white;
font-weight:bold;
}



.hero-content{

width:90%;

max-width:700px;

margin:auto;

margin-top:140px;
}



.hero-content h2{

font-size:3rem;

margin-bottom:20px;
}



.hero-content p{

line-height:1.8;

margin-bottom:30px;
}



.btn{

display:inline-block;

padding:15px 30px;

background:#ffd166;

color:#222;

text-decoration:none;

border-radius:10px;

font-weight:bold;
}



/* PÁGINAS */

.student-page{

padding:80px 10%;

min-height:100vh;

background:#f4f6f9;
}



.student-page h1{

text-align:center;

margin-bottom:40px;

color:#0b3c5d;
}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit, minmax(250px,1fr));

gap:25px;
}



.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}



.student-link-card{
text-align:center;
}



/* INPUTS */

.student-name-input{

width:100%;

padding:15px;

border:none;

border-radius:10px;

margin-bottom:20px;

background:#f4f6f9;
}



textarea{

width:100%;

min-height:220px;

padding:15px;

border:none;

border-radius:12px;

resize:vertical;

background:#f4f6f9;
}



/* BOTONES */

.save-btn{

margin-top:15px;

padding:12px 20px;

border:none;

background:#0b3c5d;

color:white;

border-radius:10px;

cursor:pointer;

font-weight:bold;
}



/* TARJETA */

.student-card{

display:grid;

grid-template-columns:1fr 350px;

gap:30px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}



/* ARCHIVOS */

.student-files{

background:#f4f6f9;

padding:20px;

border-radius:15px;
}



.student-files input{

width:100%;

margin-bottom:25px;
}



/* IMAGEN */

.image-container{
margin-top:20px;
}



.preview-image{

width:100%;

max-width:250px;

margin-top:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;
}



.preview-image:hover{

transform:scale(1.03);
}



/* ELIMINAR */

.delete-btn{

margin-top:10px;

padding:10px 15px;

border:none;

background:#d62828;

color:white;

border-radius:8px;

cursor:pointer;
}



/* MODAL */

.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

justify-content:center;
align-items:center;

z-index:999;
}



.modal img{

max-width:90%;

max-height:90%;

border-radius:15px;
}



.close{

position:absolute;

top:20px;
right:40px;

font-size:3rem;

color:white;

cursor:pointer;
}



/* RESPONSIVE */

@media(max-width:900px){

.navbar{

flex-direction:column;

gap:20px;
}

.menu{

flex-wrap:wrap;

justify-content:center;
}

.student-card{

grid-template-columns:1fr;
}

=======
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f9;
color:#222;
}



/* HERO */

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),

url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1470&auto=format&fit=crop');

background-size:cover;
background-position:center;

color:white;
}



.navbar{

width:90%;

margin:auto;

padding:25px 0;

display:flex;

justify-content:space-between;

align-items:center;
}



.dark-navbar{
background:#0b3c5d;
padding:20px 5%;
}



.logo{
font-size:2rem;
color:#ffd166;
}



.menu{
display:flex;
gap:25px;
list-style:none;
}



.menu a{
text-decoration:none;
color:white;
font-weight:bold;
}



.hero-content{

width:90%;

max-width:700px;

margin:auto;

margin-top:140px;
}



.hero-content h2{

font-size:3rem;

margin-bottom:20px;
}



.hero-content p{

line-height:1.8;

margin-bottom:30px;
}



.btn{

display:inline-block;

padding:15px 30px;

background:#ffd166;

color:#222;

text-decoration:none;

border-radius:10px;

font-weight:bold;
}



/* PÁGINAS */

.student-page{

padding:80px 10%;

min-height:100vh;

background:#f4f6f9;
}



.student-page h1{

text-align:center;

margin-bottom:40px;

color:#0b3c5d;
}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit, minmax(250px,1fr));

gap:25px;
}



.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}



.student-link-card{
text-align:center;
}



/* INPUTS */

.student-name-input{

width:100%;

padding:15px;

border:none;

border-radius:10px;

margin-bottom:20px;

background:#f4f6f9;
}



textarea{

width:100%;

min-height:220px;

padding:15px;

border:none;

border-radius:12px;

resize:vertical;

background:#f4f6f9;
}



/* BOTONES */

.save-btn{

margin-top:15px;

padding:12px 20px;

border:none;

background:#0b3c5d;

color:white;

border-radius:10px;

cursor:pointer;

font-weight:bold;
}



/* TARJETA */

.student-card{

display:grid;

grid-template-columns:1fr 350px;

gap:30px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}



/* ARCHIVOS */

.student-files{

background:#f4f6f9;

padding:20px;

border-radius:15px;
}



.student-files input{

width:100%;

margin-bottom:25px;
}



/* IMAGEN */

.image-container{
margin-top:20px;
}



.preview-image{

width:100%;

max-width:250px;

margin-top:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;
}



.preview-image:hover{

transform:scale(1.03);
}



/* ELIMINAR */

.delete-btn{

margin-top:10px;

padding:10px 15px;

border:none;

background:#d62828;

color:white;

border-radius:8px;

cursor:pointer;
}



/* MODAL */

.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

justify-content:center;
align-items:center;

z-index:999;
}



.modal img{

max-width:90%;

max-height:90%;

border-radius:15px;
}



.close{

position:absolute;

top:20px;
right:40px;

font-size:3rem;

color:white;

cursor:pointer;
}



/* RESPONSIVE */

@media(max-width:900px){

.navbar{

flex-direction:column;

gap:20px;
}

.menu{

flex-wrap:wrap;

justify-content:center;
}

.student-card{

grid-template-columns:1fr;
}

>>>>>>> 9ac97fa76028464a1364dc9eef6f5fed2f99632e
}